<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.github.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="Chirashi App">
        
        <activity
            android:name="com.kigo.chirashi.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
    </application>
</manifest>